:root {
  --orange-color: #ef6c0d;
  --light-orange-color: #feb702;
  --yellow-color: #e2cc06;
  --dark-color: #444444;
  --white: #ffff;
  --white95: #f2f2f2;
  --white90: #e6e6e6;
  --white85: #d9d9d9;
  --white40: #666666;
  --heavyDark-color: #1b1b1b;
  --dark-green-color: #92c80c;
  --light-blue-color: #024885;
}

.hero-img img,
.approach-img img {
  max-width: 100%;
  height: auto;
}

.abt-us-head {
  font-size: 60px;
  font-weight: 600;
  line-height: 90px;
  text-align: left;
}

.abt-us-head2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}

.abt-us-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
}

.hero-text-p p,
.hero-text-p ul {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.text-bold {
  font-weight: bold;
}

#discover-img-div {
  text-align: center;
}

.discover-section {
  position: relative;
}

.discover-section::before {
  content: "";
  position: absolute;
  top: 6%;
  left: -2%;
  width: 25%;
  max-width: 25%;
  height: 30%;
  background-image: url("/Assets/vectors/projects/bg1.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.discover-section::after {
  content: "";
  position: absolute;
  bottom: 18%;
  right: 0%;
  width: 25%;
  max-width: 25%;
  height: 30%;
  background-image: url("/Assets/vectors/projects/bg2.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.abt-us-head3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  color: var(--orange-color);
}

.e-head1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}

/* Other-valued Section Starts */

.other-valued-section {
  background-color: var(--yellow-color);
  border-radius: 25px;
  padding: 30px 25px;
  margin: 20px auto;
  color: var(--white);
  position: relative;
  overflow: hidden;
  /* Clip the background image */
  z-index: 1;
}

.other-valued-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 50%;
  background-image: url("/Assets/vectors/p1v4/bgImage.svg");
  /* URL of your background image */
  background-size: cover;
  /* Adjust the size of the background image */
  background-position: center;
  /* Position the background image */
  z-index: -1;
  /* Send the clipped part behind the container */
}

.valued-head {
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
}

.value-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

#visit-project-btn {
  float: right;
  top: 10px;
  cursor: pointer;
}

#card_container_div .card {
  text-align: center !important;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}

.card {
  height: 100%;
  /* Ensure all cards have the same height */
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body p {
  margin-top: 15px;
  flex-grow: 1;
  /* Allow the <p> element to grow to fill the remaining space */
}

#card-1-img {
  border-radius: 15px;
  padding: 28px 10px;
  background-color: var(--heavyDark-color);
}

#card-2-img {
  border-radius: 15px;
  padding: 25px 10px;
  background-color: var(--dark-green-color);
}

#card-3-img {
  border-radius: 15px;
  padding: 30px 10px;
  background-color: #000;
}

#card-4-img {
  border-radius: 15px;
  /* padding: 25px 20px; */
  max-width: 100%;
  width: 100%;
}

/* Other-valued Section ends */

/* feed_back Section starts */
.feed_back_section {
  margin: 30px auto;
}

.testimonal-card {
  background-color: var(--white);
  color: #444444;
  border-radius: 15px;
  padding: 20px;
}

.feedback-head {
  font-size: 34px;
  font-weight: 600;
  line-height: 47.6px;
  text-align: left;
}

.feedback-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.testimonal-head {
  font-size: 28px;
  font-weight: 600;
  line-height: 39.2px;
  text-align: left;
}

.testimonal-p {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 20px;
}

.testimonal-last-p p {
  margin-bottom: 0px !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

/* feed_back Section ends */

/* project 1secton */

.project1-para {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}

.project-scope-head {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
}

.project-scope-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.project-scope-head2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 12px;
}
.stage ul {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.stage ul li {
  margin-bottom: 5px;
}

/* For Mobile */
@media only screen and (max-width: 767px) {
  .container,
  .share-ur-req {
    margin-bottom: 20px !important;
  }
  .hero-text {
    margin-bottom: 0px !important;
  }
  .hero-text-title {
    margin-bottom: 4px !important;
  }
  .discover-section::after {
    content: "";
    background-image: url("");
  }
  .discover-section::before {
    content: "";
    background-image: url("");
  }
  #card_container_div .card {
    margin-bottom: 10px;
  }
}

/* For tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container,
  .share-ur-req {
    margin-bottom: 20px !important;
  }
  .hero-text {
    margin-bottom: 0px !important;
  }
  .hero-text-title {
    margin-bottom: 4px !important;
  }
  .discover-section::after {
    content: "";
    background-image: url("");
  }
  .discover-section::before {
    content: "";
    background-image: url("");
  }
}
